<div *ngFor="let section of aggregationFiveMatches | keys">

  <div class="row-header border-top">{{section.key}}</div>

  <div *ngFor="let aggregatedData of section.value | keys; let odd = odd; let even = even;"
       class="list-row borderless"
       [routerLink]="['/fixtures', fixtureId, aggregatedData.key]"
       (click)="pushMatchData(aggregatedData.value, aggregationTenMatches[section.key][aggregatedData.key])">

    <img *ngIf="odd" class="league-icon" src="assets/icons/bar-chart24.png">
    <img *ngIf="even" class="league-icon" src="assets/icons/data-grid24.png">
    <div class="aggregation-title">{{aggregatedData.key | translate}}</div>
  </div>

</div>
