@import '../../../assets/variables.scss';

.card-container {
  cursor: pointer;
  margin-left: 20px;

  @media (max-width: $mobile-phone-max-width) {
    margin-left: 0;
  }

}

.logo-container {
  width: 250px;
}
