  <div class="card medium cyan lighten-5 hoverable center-align card-container"
       [routerLink]="['/leagues/', leagueId, 'fixtures']">
    <div class="card-content black-text">
      <span class="card-title">{{countryName}}</span>
      <p>{{leagueName}}</p>
      <div class="logo-container">
        <img style="height: 100%; width: 100%" src="{{logosPath}}converted-{{leagueCode}}.png"/>
      </div>
    </div>
    <div class="card-action">
      <a class="black-text">Pogledaj mečeve</a>
    </div>
  </div>
