<bar-chart [chartData]="data" [title]="'matchChartTitle'"></bar-chart>

<div *ngFor="let aggregation of matchesAggregation | keys; let i = index">

  <div *ngIf="aggregation.key !== 'matchCount'">
    <div class="accordion"
         (click)="openAccordion(i)"
         [ngClass]="{active: isActiveAccordion(i)}">{{aggregation.key}}
    </div>

    <div id="panel-{{i}}" class="panel">
      <aggregation-table [aggregation]="aggregation.value" [matchCount]="matchCount"></aggregation-table>
    </div>
  </div>

</div>


