@import "../../../../assets/variables";

.teams-container {
  text-align: center;
  padding: $standard-padding;
  font-size: $large-font;
}

.accordion-row {
  margin-top: 10px;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: $dark-primary-color;
  color: $primary-white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  font-size: $item-list-font;
  font-weight: bold;

  @media (min-width: $ipad-screen-size) {
    font-size: $item-list-font-large-screen;
  }

}

.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  color: $primary-white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
  color: $primary-white;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  display: none;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
}
