<p style="color: white">
  match works with following id {{fixtureId}}
</p>

<div class="ui teal three item inverted labeled icon menu">
  <a class="active item" (click)="toggleContent()">
    Home <i class="table icon"></i>
  </a>
  <a class="item" (click)="toggleContent()">
    Messages <i class="bar chart icon"></i>
  </a>
  <a class="item">
    Friends <i class="gamepad icon"></i>
  </a>
</div>


<div class="ui inverted fluid accordion">

  <div *ngFor="let data of structuredMatches[0] | keys">
    <div class="title">
      <i class="dropdown icon"></i>
      {{data.key}}
    </div>

    <div class="content">
      <div class="transition hidden">

        <results-table [fiveMatches]="structuredMatches[0][data.key]"
                       [tenMatches]="structuredMatches[1][data.key]">
        </results-table>

      </div>
    </div>

  </div>

  <div *ngFor="let data of specificStructureMatches[0] | keys">
    <div class="title">
      <i class="dropdown icon"></i>
      {{data.key}}
    </div>

    <div class="content">
      <div class="transition hidden">

        <results-table [structured]="false"
                       [fiveMatches]="specificStructureMatches[0][data.key]"
                       [tenMatches]="specificStructureMatches[1][data.key]">
        </results-table>

      </div>
    </div>

  </div>

</div>


