<p style="color: white">
  match works with following id {{fixtureId}}
</p>

<div class="ui teal three item inverted labeled icon menu">
  <a class="active item" (click)="toggleContent()">
    Home <i class="table icon"></i>
  </a>
  <a class="item" (click)="toggleContent($event)">
    Messages <i class="bar chart icon"></i>
  </a>
  <a class="item">
    Friends <i class="gamepad icon"></i>
  </a>
</div>


<div class="ui inverted fluid accordion">

  <div *ngFor="let data of matches | keys">
    <div class="title">
      <i class="dropdown icon"></i>
      {{data.key}}
    </div>

    <div class="content">
      <div class="transition hidden">

        <results-table [results]="matches[data.key]"></results-table>

      </div>
    </div>

  </div>

</div>


