<loader [isLoading]="isLoading"></loader>

<div *ngFor="let league of groupedFixtures | keys">

  <div class="league-header">
    <img class="league-flag"
         src="../../../../assets/flags/{{groupedFixtures[league.key][0].countryName}}.svg">
    <div class="league-title">{{league.key}}</div>
  </div>

  <div class="ui relaxed divided list fixture-list">
    <div class="item" *ngFor="let fixture of groupedFixtures[league.key]"
         [routerLink]="['/fixtures/' + fixture.homeTeam + '-' + fixture.awayTeam]">
      <div class="content">
        <div class="header">{{fixture.homeTeam}} vs. {{fixture.awayTeam}}</div>
        <div class="description">{{fixture.date}}</div>
      </div>
    </div>
  </div>
</div>


