@import "../../../../assets/variables";

.league-row {
 @extend .list-row;

  $icon-container-width: 20%;
  $icon-width: 35px;
  $icon-height: 30px;
  .icon-container {
    width: $icon-container-width;
  }

  .league-icon {
    width: $icon-width;
    height: $icon-height;
  }

  .league-name {
    width: $icon-container-width * 3;
    font-size: 4.5vw;
    font-weight: bold;
  }

  .country-flag {
    width: $icon-height;
    height: $icon-height - 5px;
    border: 1px solid $separator-color;
  }
}
