@import "../../../../assets/variables";

.league-header {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: $primary-color;
  color: $primary-white;

  .league-flag {
    $flag-icon-size: 30px;
    width: $flag-icon-size;
    height: $flag-icon-size;
  }

  .league-title {
    margin-left: 10px;
    font-size: $header-font;
    font-weight: bold;

    @media(min-width: $ipad-screen-size) {
      font-size: $header-font-large-screen;
    }
  }

}

.fixture-list {

  padding: $standard-padding !important;
  padding-top: 0 !important;
  font-size: $item-list-font;

  @media(min-width: $ipad-screen-size) {
    font-size: $item-list-font-large-screen;
  }
}


