$extra-large-font: 26px;
$large-font: 22px;
$regular-font: 18px;
$medium-font: 16px;
$small-font: 14px;

$item-list-font: 4vw;
$item-list-font-large-screen: 3.5vw;

$header-font: 5.5vw;
$header-font-large-screen: 5vw;

$standard-padding: 20px;

$ipad-screen-size: 767px;

$top-navbar-height: 56px;
$bottom-navbar-height: 48px;

$primary-color: #2196F3 !important;
$dark-primary-color: #1976D2 !important;
$accent-color: #FFC107 !important;
$primary-contrast: #FF5613 !important;

$primary-white: #ffffff !important;
$primary-black: #000000 !important;

$icon-font-size: 2em;

body {
  background-color: white!important;
}

a:hover {
  color: inherit !important;
  text-decoration: none!important;
}

.ui.inverted.list .item a:not(.ui):hover {
  color: white !important;
}



