@import "../../../assets/variables";

$search-box-margin: 20px;

.search-box {
  display: flex;
  justify-content: center;

  .results {
    left: auto !important;
    text-align: center;
  }

  .input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 55%;

    @media (max-width: $ipad-screen-size) {
      width: 75%;
    }

    .group {
      position: relative;
      margin-bottom: $search-box-margin;
      width: 100%;
    }

    .input-field {
      text-align: center;
      border: none;
      border-radius: 0;
      border-bottom: 5px solid #54c8ff;
      margin-top: 1em;
      padding: 0.85em 0.15em;
      width: 100%;
      padding-right: 0 !important;
      background-color: $body-background;
      color: #ffffff;
    }

    .label-and-icon-container {
      color: #54c8ff;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, 0);
      margin-top: $search-box-margin / 2;
      font-size: $large-font;
      pointer-events: none;
    }

    input {
      font-size: $large-font;
      padding: 10px 10px 10px 5px;
    }

    input:focus {
      outline: none;
    }

    .bar {
      position: relative;
      display: block;
      width: 100%;
    }
    .bar:before, .bar:after {
      content: '';
      height: 8px;
      width: 0;
      bottom: 0;
      position: absolute;
      background: #ff695e;
      transition: 0.2s ease all;
    }
    .bar:before {
      left: 50%;
    }
    .bar:after {
      right: 50%;
    }

    /* active state */
    input:focus ~ .bar:before, input:focus ~ .bar:after {
      width: 50%;
    }

    input:focus ~ .label-and-icon-container {
      display: none;
    }

  }

}

.fixtures-table {
  text-align: center;
}
