<div class="ui search search-box">

  <div class="ui icon input input-container">
    <div class="group">
      <input type="text" class="prompt input-field" (keyup)="onKey($event)">
      <span class="bar"></span>
      <div class="label-and-icon-container">
        <label>Search</label>
        <i class="search icon"></i>
      </div>
    </div>

  </div>
  <div class="results"></div>
</div>

<div class="ui inverted segment fixtures-table">
  <div class="ui inverted relaxed divided selection large list">
    <div *ngFor="let fixture of filteredFixtures" class=" item">
      <a [routerLink]="['/fixtures', fixture.fixtureId.counter]" (click)="pushFixture(fixture)">
        <div class="content">
          <div class="header">{{fixture.countryName}} <i class="gb flag"></i></div>
          <div class="item"> {{fixture.homeTeam}} {{fixture.date}} {{fixture.awayTeam}}</div>

        </div>
      </a>
    </div>
  </div>
</div>
