@import "../../../../assets/variables";

.active-tab {
  border-bottom: 2px solid $primary-white;
  color: $primary-white;
  font-weight: bold;
}

.fixture-row {
  @extend .list-row;
  align-items: flex-start;
  flex-direction: column;

  .team-names {
    font-size: $list-row-primary-item-font;
    font-weight: bold;
  }

  .fixture-date {
    margin-top: 5px;
    font-size: $list-row-secondary-item-font;
    color: $primary-contrast;
  }
}

.league-table-container {
  font-size: $list-row-primary-item-font;
  padding: $list-row-padding;

  .team-name {
    font-weight: bold;
  }
}
