<div class="fixed-bottom-menu" *ngIf="leagueFixtures.length !== 0">
  <ul class="tabs blue">
    <li class="tab col s3 {{activeTab === 1 ? 'active-tab' : ''}}">
      <div class="tab-title" (click)="setActiveTab(1)">{{'fixtures' | translate}}</div>
    </li>
    <li class="tab col s3 {{activeTab === 2 ? 'active-tab' : ''}}">
      <div class="tab-title" (click)="setActiveTab(2)">{{'league' | translate}}</div>
    </li>
  </ul>
</div>

<loader [isLoading]="isLoading"></loader>

<div>

  <div *ngIf="activeTab === 1">

    <div *ngIf="leagueFixtures.length === 0">
      <error-message [isError]="shouldShowErrorMessage" [errorMessage]="errorMessage"></error-message>
    </div>

    <div class="fixture-row"
         *ngFor="let fixture of leagueFixtures"
         (click)="navigateToFixture(fixture.homeTeam, fixture.awayTeam, fixture._id)">
      <div class="team-names">{{fixture.homeTeam}} - {{fixture.awayTeam}}</div>
      <div class="fixture-date">{{fixture.date}} {{fixture.time}}</div>
    </div>
  </div>

  <div *ngIf="activeTab === 2">

    <div *ngIf="leagueTable.length === 0">
      <error-message [isError]="shouldShowErrorMessage" [errorMessage]="errorMessage"></error-message>
    </div>

    <div *ngIf="leagueTable.length !== 0" class="league-table-container">
      <table class="ui five column unstackable small table">
        <thead>
        <th>{{'teamName' | translate}}</th>
        <th>{{'teamWins' | translate}}</th>
        <th>{{'teamDraws' | translate}}</th>
        <th>{{'teamLosses' | translate}}</th>
        <th>{{'teamPointsWon' | translate}}</th>
        </thead>
        <tbody>
        <tr *ngFor="let team of leagueTable">
          <td class="team-name">{{team.teamName}}</td>
          <td>{{team.wins}}</td>
          <td>{{team.draws}}</td>
          <td>{{team.losses}}</td>
          <td>{{team.pointsWon}}</td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>

</div>


