@import "../../../../assets/variables";

.chart-container {
  margin-top: $list-row-padding;
}

.results-table-container {
  padding: $list-row-padding;
}

.legend-container {
  display: flex;
  padding-left: $list-row-padding;
  padding-right: $list-row-padding;

  $legend-dimensions: 16px;
  .legend {
    height: $legend-dimensions;
    width: $legend-dimensions;
    margin-right: $legend-dimensions;
  }
}
