<div class="fixed-bottom-menu">
  <ul class="tabs blue">
    <li class="tab col s3">
      <div class="{{activeTab === 1 ? 'active-item' : ''}}"(click)="setActiveTab(1)"><i class="table icon"></i></div>
    </li>
    <li class="tab col s3">
      <div class="{{activeTab === 2 ? 'active-item' : ''}}" (click)="setActiveTab(2)"><i class="bar chart icon"></i></div>
    </li>
  </ul>
</div>

<loader [isLoading]="!matchStats || (isLoading && activeTab === 2)"></loader>

<div *ngIf="matchStats" class="scrollable-content ">

  <div *ngIf="activeTab === 1">
    <results-table
      [isStructured]="matchStats.isStructured"
      [fiveMatches]="matchStats.fiveMatches"
      [tenMatches]="matchStats.tenMatches">
    </results-table>
  </div>

  <div *ngIf="activeTab === 2">
    <div [hidden]="isLoading">
      <div class="chart-container" *ngFor="let data of matchStats.tenMatches | keys; let i = index; let last = last;">

      <span *ngIf="matchStats.isStructured">
        <h3 class="ui block centered aligned header blue">{{data.key}}</h3>
       <bar-chart (isLoading)="shouldShowLoadingSpinner($event)"
                  [index]="i"
                  [labels]="mapLabels(matchStats.tenMatches[data.key])"
                  [series]="mapSeries(matchStats.tenMatches[data.key])">
       </bar-chart>
       <pie-chart [index]="i"
                  [labels]="mapLabels(matchStats.tenMatches[data.key])"
                  [series]="mapSeries(matchStats.tenMatches[data.key])">
       </pie-chart>
      </span>

        <span *ngIf="!matchStats.isStructured && last">
      <h3 class="ui block centered aligned header blue">{{detailsParam}}</h3>
      <bar-chart (isLoading)="shouldShowLoadingSpinner($event)"
                 [index]="i"
                 [labels]="mapLabels(matchStats.tenMatches)"
                 [series]="mapSeries(matchStats.tenMatches)">
      </bar-chart>
      <pie-chart [index]="i"
                 [labels]="mapLabels(matchStats.tenMatches)"
                 [series]="mapSeries(matchStats.tenMatches)">
      </pie-chart>
      </span>

      </div>
    </div>
  </div>

</div>

