@import "../../../../assets/variables";

$margin-offset: 10px;

.scrollable-content {
  padding-right: 20px;
  padding-left: 20px;
  margin-top: $bottom-navbar-height + $margin-offset;
}

.fixed-bottom-menu {
  position: fixed;
  width: 100%;
  top: $top-navbar-height;
  z-index: 1000;

  .active-item {
    color: $primary-white !important;
    border-bottom: 3px solid $primary-white;
  }

  .icon {
    font-size: $icon-font-size;
  }

}

.chart-container {
  display: flex;

  @media(max-width: $ipad-screen-size) {
    flex-direction: column;
  }

  .legend-container {
    display: flex;

    $legend-dimensions: 16px;
    .legend {
      height: $legend-dimensions;
      width: $legend-dimensions;
      margin-right: $legend-dimensions;
    }
  }

}
