@import "../../../../assets/variables";

.chart-container {
  margin-top: $list-row-padding;
}

.results-table-container {
  padding: $list-row-padding;
}

.legend-container {
  display: flex;
  padding-left: $list-row-padding;
  padding-right: $list-row-padding;

  $legend-dimensions: 16px;
  $legend-dimensions-ipad: $legend-dimensions + 10px;
  .legend {
    height: $legend-dimensions;
    width: $legend-dimensions;
    margin-right: $legend-dimensions;

    @media (min-width: $ipad-screen-size) {
      height: $legend-dimensions-ipad;
      width: $legend-dimensions-ipad;
      margin-right: $legend-dimensions-ipad;
    }
  }

  @media (min-width: $ipad-screen-size) {
    font-size: $list-row-primary-item-font - 1vw !important;
  }
}
