<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
  <div class="container">
    <a class="navbar-brand" href="#">Start Bootstrap</a>
    <button class="navbar-toggler hidden-md-up float-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"></button>
    <!-- Clearfix with a utility class added to allow for better navbar responsiveness. -->
    <div class="clearfix hidden-md-up"></div>
    <div class="collapse navbar-toggleable-sm" id="navbarResponsive">
      <ul class="nav navbar-nav float-md-right menu-items-container">
        <li *ngFor="let menuItem of menuItems" class="nav-item">
          <a class="nav-link" href="#">{{menuItem}}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
