@import "../../../assets/variables";

.chart-title {
  text-align: center;
  font-size: $item-list-font;

  @media (min-width: $ipad-screen-size) {
    font-size: $item-list-font - 1vw;
  }
}

.bar-chart-container {
  $chart-padding: 25px;

  padding-left: $chart-padding;
  padding-right: $chart-padding;
  padding-bottom: $chart-padding;
}
